.source-menu {
  padding: 20px 40px;
  text-align: center;
}
.button-group {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
}
.source-list {
  height: 160px;
  border: 1px solid;
  margin: 20px;
}